
/* This is not doing anything
header {
  background: url(https://playingwithpolitics.files.wordpress.com/2010/08/pigeon-man.png);
  width: fill; 
  height: fill;
  background-color: yellow
} */

body {
  background-color: #66FF99

}

.well {
  background: black;

  color: red;
}

#facegrid{
  margin-top: 35px;
}

#start {
  font-size: 30px;
}

img{
  margin-bottom: 35px;
}

h1{
  font-style: Electra;
  margin-bottom: 0;
  margin-top: 0;
  margin-bottom: 0;
  text-align: center;
}

h2, h3{
  font-style: bingo
  margin-bottom: 0;
  margin-top: 0;
  margin-bottom: 0;
  text-align: center;
}

